.request {
  margin: 30px;
  border: 1px dashed black;
  width: 50%;
  margin: 0 auto;
  min-width: 750px;
}
.red {
  color: red;
}
.green {
  color: green;
}
.input input{
  width: 90%;
}
.result {
  border: 1px solid red;
  min-height: 100px;
  text-align: left;
  font-size: 12px;
}
